body.settings {
  background-color: #ffffff;
}

#Settings {
  pre {
    font-size: 1rem;
  }

  table {
    border-spacing: 5px;
    border-collapse: separate;

    td {
      // border: 1px solid black;
    }
  }

  h3, h5 {
    margin: 0.3rem 0;
  }

  table {
    input {
      width: 60%;
    }

    input[type='file'] {
      display: none;
    }
  }

  .keydesc {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }

  .seven input[type='text'] {
    width: 70%;
  }

  .bind input[type='text'] {
    color: transparent;
    width: 95%;
    text-shadow: 0 0 0 #000;
  }

  .bind .input-val {
    position: absolute;
    border: none;
    padding: 0.2rem;
    // padding: 0;
    pointer-events: none;
    // width: 14.6rem;
    // height: 2.6rem;
    // line-height: 3rem;
    background-color: transparent;
  }

}
