#Settings {

  pre {
    font-size: 12px;
  }

  .seven {
    input {
      width: 300px;
    }

    input[type='file'] {
      display: none;
    }
  }

  .bind input[type='text'] {
    color: transparent;
    text-shadow: 0 0 0 #000;

    &:focus {
      border-width: 2px;
    }
  }

}