
.Theme {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: hidden;

  .Artwork {

    // This makes no sense
    &#artwork4 { z-index: 5; }
    &#artwork3 { z-index: 4; }
    &#artwork2 { z-index: 3; }
    &#video    { z-index: 2; }
    &#artwork1 { z-index: 1; }
    &#background { z-index: 0; }
  }
}
