#Intro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: #000;

  pre {
    font-size: 12px;
  }

  #introvideo {
    width: 100%;
    height: 100%;
  }

  .vjs-control-bar, .vjs-big-play-button {
    display: none !important;
  }

}