  <wheel options="wheeloptions" index="wheelindex">
    <li ng-repeat="game in databases.menu.game" class="item">
      <img src="{{root+'/Media/Main Menu/Images/Wheel/'+game.$.name+'.png'}}">
    </li>
  </wheel>
<div class="container">
  <table  class="table" width="100%">
    <tr>
      <td>
        <button ng-click="openRoot()">
          OPEN
        </button>
      </td>
      <td>
        {{root}}    
      </td>
    </tr>
  </table>
  <h1 style="position: fixed; bottom:0; left:0;" >{{databases.menu.game[wheelindex].$.name}}</h1>
  <div class="well">
    <h1>Settings</h1>
    <pre>{{settings}}</pre>
  </div>

  <div class="well">
    <h1>Databases</h1>
    <pre>{{databases.menu}}</pre>
  </div>
</div>