<div class="container">
  <table  class="table" width="100%">
    <tr>
      <td>
        <button ng-click="openRoot()">
          OPEN
        </button>
      </td>
      <td>
        {{root}}    
      </td>
    </tr>
  </table>

  <wheel options="wheeloptions" index="wheelindex">
    <li ng-repeat="game in databases.menu.game" class="item">{{game.$.name}}</li>
  </wheel>

  <div class="well">
    <h1>Settings</h1>
    <pre>{{settings}}</pre>
  </div>

  <div class="well">
    <h1>Databases</h1>
    <pre>{{databases.menu}}</pre>
  </div>
</div>