
<wheel control="wheelControl" options="wheelOptions" points="wheelPoints" items="wheelItems">
</wheel>
<theme theme="themePath"></theme>


<div class="container">
  <table  class="table" width="100%">
    <tr>
      <td>
        <button ng-click="openRoot()">OPEN</button>
      </td>
      <td>
        {{root}}    
      </td>
    </tr>
  </table>

  <h1>{{curItem.name}}</h1>
  <div class="well">
    <h1>Settings</h1>
    <pre>{{settings | json}}</pre>
  </div>

  <div class="well">
    <h1>Databases</h1>
    <pre>{{databases | json}}</pre>
  </div>
</div>