<wheel options="wheeloptions" index="wheelindex">
  <li ng-repeat="game in games" class="item">
    <img src="{{root+'/Media/Main Menu/Images/Wheel/'+game.name+'.png'}}">
  </li>
</wheel>

<div class="container">
  <table  class="table" width="100%">
    <tr>
      <td>
        <button ng-click="openRoot()">OPEN</button>
      </td>
      <td>
        {{root}}    
      </td>
    </tr>
  </table>

  <embed  ng-show="bg.url" src="{{bg.url}}" type="application/x-shockwave-flash">

  <h1>{{curItem}}</h1>
  <div class="well">
    <h1>Medias</h1>
    <!-- <pre>{{background_data}}</pre> -->
    <pre>{{bg.path}}</pre>
    <pre>{{medias.getEntries() | json}}</pre>
  </div>
  <div class="well">
    <h1>Settings</h1>
    <pre>{{settings | json}}</pre>
  </div>

  <div class="well">
    <h1>Databases</h1>
    <pre>{{databases | json}}</pre>
  </div>
</div>