body {
  // background: #111;
  // color: #fff;
}

pre {
  // white-space: wrap;
  // max-width: 100%;
}


.row {
  text-align: center;
}

wheel {
  display: block;
  height: 250px;

  .ws-elem {
    position: absolute;
    max-width: 150px;
  }

}


