
theme {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

theme .background {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 100%; height: 100%;
}

theme .theme-entry {
  position: fixed;
  display: block;
  z-index: 1;

  &#background {
    z-index: 0;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px

  }
}


// theme entry .theme-entry {
//   margin-left: -50%;
//   margin-top: -50%;
// }
