// ============================================================================
// Variables & Fonts
// ============================================================================

$grey: #e1e1e1;
$white: #fff;
$black: #000;
$yellow: #FBA301;

@font-face {
  font-family: UMono;
  src: url("../fonts/UbuntuMono-R.ttf");
}

// ============================================================================
// Global styles (every page style)
// ============================================================================

html {
  font-family: "UMono";
}
#cursor-overlay{
  cursor:none;
  width:100vw;
  height:100vh;
  content:'';
  display:block;
  z-index:9999;
  background:transparent;
  position:absolute;
}
body {
  overflow-x: hidden;
}

hr {
  border: 1px dashed #ccc;
}

#Navbar {
    position: fixed;
    top: 0;
    color: $white;
    background-color: rgba(90, 90, 90, .90);
    z-index: 10;
    width: 98%;
    border-bottom: 1px solid $grey;
    margin: 0;
    padding: 1%;

    .button, button {
        line-height: 2rem;
        margin-bottom: 0;
    }

    .release-info {
        font-size: 1.3rem;
        position: absolute;
        text-align: center;
        width: 20rem;
        top: 0.5rem;
        left: 50%;
        margin-left: -10rem;
    }
}

.container {
    margin: 7rem 1rem;
}

.toast-top-right {
    top: 6rem;
}

select {
  border-radius: 0.3rem;
  border: 1px solid #777;
  background-color: $white;
  color: #333;
}

input {
  border: 1px solid #777;
  padding: 0.18rem;
  border-radius: 0.3rem;
}

input:focus, select:focus {
  border: 1px solid #f0f;
  outline: 1px;
}

.button, button {
  border-radius: 0.3rem;
  border: 1px solid #777;
  background-color: $white;
  color: #333;
  &:hover {
    background-color: #eee;
  }
}

.button-primary {
    color: $white;
    background-color: #33f;
    &:hover {
      background-color: #22f;
    }
}

.u-pull-right {
  float: right;
}

.container {
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.one.column,
.one.columns       { width: 4.66666666667%; }
.two.columns       { width: 13.3333333333%; }
.three.columns     { width: 22%;            }
.four.columns      { width: 30.6666666667%; }
.five.columns      { width: 39.3333333333%; }
.six.columns       { width: 48%;            }
.seven.columns     { width: 56.6666666667%; }
.eight.columns     { width: 65.3333333333%; }
.nine.columns      { width: 74.0%;          }
.ten.columns       { width: 82.6666666667%; }
.eleven.columns    { width: 91.3333333333%; }
.twelve.columns    { width: 100%; margin-left: 0; }
.one-third.column  { width: 30.6666666667%; }
.two-thirds.column { width: 65.3333333333%; }
.one-half.column   { width: 48%; }

@media (max-width: 640px) {
  html {
    font-size: 2vw;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 3vw;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 7rem auto;
    width: 1000px;
  }
}

// ============================================================================
// Debug styles override
// ============================================================================

#cursor-overlay.debug{
  cursor:auto;
}