// ============================================================================
// Variables
// ============================================================================

$grey: #e1e1e1;
$white: #fff;
$black: #000;

// ============================================================================
// Global styles (every page style)
// ============================================================================

#Navbar {
    position: fixed;
    top: 0;
    color: $white;
    background-color: rgba(90, 90, 90, .90);
    z-index: 10;
    width: 98%;
    border-bottom: 1px solid $grey;
    margin: 0;
    padding: 1%;

    .button, button {
        height: 30px;
        line-height: 30px;
        margin-bottom: 0;
        color: $white;
    }

    .release-info {
        font-size: 12px;
        position: absolute;
        text-align: center;
        width: 200px;
        top: 5px;
        left: 50%;
        margin-left: -100px;
    }
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.toast-top-right {
    top: 60px;
}

// Buttons inherited from skeleton.css
.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning {
  color: $white;
  background-color: #E7C100;
  border-color: #E7C100; }
.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-warning:focus,
button.button-warning:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus {
  color: $white;
  background-color: #DAB600;
  border-color: #DAB600; }

.button.button-error,
button.button-error,
input[type="submit"].button-error,
input[type="reset"].button-error,
input[type="button"].button-error {
  color: $white;
  background-color: #FF5725;
  border-color: #FF5725; }
.button.button-error:hover,
button.button-error:hover,
input[type="submit"].button-error:hover,
input[type="reset"].button-error:hover,
input[type="button"].button-error:hover,
.button.button-error:focus,
button.button-error:focus,
input[type="submit"].button-error:focus,
input[type="reset"].button-error:focus,
input[type="button"].button-error:focus {
  color: $white;
  background-color: #EC5022;
  border-color: #EC5022; }

button.disabled {
  cursor: not-allowed;
}
